/* 
.artistsContainer{
    margin-left: 17%;
    text-align: center;
}


.postbtn{
margin-left: 400px;
    background-color: red;
}*/
body {
    height: auto;
}


.hero-containerDash {
    margin: 50px 50px 0 250px;
}


.eachHero {
    margin: 50px 50px 0px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.writeIcon {
    border: solid 1px grey;
    margin-top: 50px;

}

.formHero {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-left: 510px;
    /* margin-top: 10rem;
    margin-bottom: 30px; */
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 10px;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    /* margin-left: 20px; */
    margin-bottom: 20px;

}

.postImgg {
    position: relative;
    left: 36%;
    margin-top: 20px;
    margin-left: 100px;
    width: 25%;
    height: 25%;

}

.imgHero {
    width: 300px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 10%;
    position: relative;
    margin-left: 100px;
    margin-top: 30px;
}

.btnDelete {
    margin-left: 100px;
}

/* .editdiv{
    width:600px;
    background-color: beige;
}
.imgg{
margin-left: 28%;
margin-top: 10%;
width:200px;
height: 200px;
border-radius: 50%;
}

.writeIcon{
margin-bottom: 10px;
margin-left:10px
} */

.small-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
}

.submit {
    margin: auto;
    width: 150px;
}

.postPlus {
    position: fixed;
    margin-left: 1200px;
    top: 20px;
}

.visitors {
    position: fixed;
    margin-left: 250px;
    top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


@media screen and (max-width: 1350px) {

    .imgHero {

        flex-direction: row;
        width: auto;
    }

    .eachHero {
        margin: 50px 50px 0px 150px;
        display: grid;
        grid-template-columns: 1fr;

    }

    .formHero {

        width: 450px;
        margin: auto;
        margin-left: 510px;

    }

    .postPlus {
        position: absolute;
        margin-left: 0px;
        top: 20px;
        left: 100%;
    }

    .visitors {
        position: absolute;
        margin-left: 200px;
        top: 20px;
        font-size: smaller;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

}

@media screen and (max-width: 1080px) {
    .imgHero {

        flex-direction: row;
        width: 70%;
        height: auto;
        margin-left: 0;
    }

    .formHero {

        width: 450px;
        margin: auto;
        margin-left: 310px auto;

    }

    .postImgg {

        margin-left: 50px;

    }

}

@media screen and (max-width: 700px) {
    .formHero {

        width: auto;
        margin: auto;
        margin-left: 310px auto;

    }

    .postImgg {
        margin-left: 25px;
    }

}